{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <body class="backgroundImage">
    <div class="container">
        <div class="card border-0 shadow my-5 text-center ">
            <div class="card-header bg-secondary text-white">
                <h3>About Project</h3>
            </div>
            <div class="card border-0">
                <img src="./static/team.png" alt="Our team" height="550px">
                <div class="card-footer bg-secondary text-white">
                    <h3> ⓘ Important information </h3>
                </div>
            </div>
            <div class="card border-0">
                <h1 class="card-text">Traffic Signs Identifier - CNN </h1>
                <h4 class="card-text"><b>Subject:</b> Python: Internet of Things - Advanced </h4>
                <h4 class="card-text"><b>Instructor:</b> inż. Mateusz Smok </h4>
                <h4 class="card-text"><b>Group:</b> 6IID-ZP/2018-SPL03</h4>
                <h4 class="card-text" style="margin-bottom: 5px"><b>Used Technologies:</b> Python, Flask, Bootstrap,
                    TensorFlow, Keras, Pandas, NumPy </h4>
            </div>

            <div class="card-footer text-muted bg-secondary">
                <a class="btn btn-dark fab fa-github" href="https://github.com/SPoweska/Traffic-Signs-Identifier">
                    Check it out on GitHub!</a>
            </div>
        </div>
    </div>
    </body>

    <style>
        h4 {
            margin-bottom: 0;
        }
    </style>
    {#    <body class="upperHalf text-center">#}
    {#    <div class="card text-center">#}
    {##}
    {#        <div class="card-body">#}
    {##}
    {#        </div>#}
    {##}
    {#    </div>#}
    {#    </body>#}
{% endblock %}